@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	color: rgb(var(--foreground-rgb));
	background: #000;
	/* background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb)); */
}

.filter {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(117deg)
		brightness(102%) contrast(103%);
}

/* START Menu Icon */
.menu-icon {
	position: fixed;
	right: 0.5rem;
	top: 2rem;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	transform: translate(-50%, -50%);
	transition: opacity 2s;
	/* position: fixed;
	top: 4rem;
	right: 0;
	width: 1.5rem;
	height: 7rem;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	z-index: 100;
	transform: translate(-50%, -50%);
	transition: opacity 2s; */
}
.menu-icon-line {
	width: 2rem;
	height: 0.1rem;
	background-color: #fff;
	box-shadow: 0 0.3rem 0.5rem #000;
}
.show-menu-icon {
	opacity: 1;
	visibility: visible;
}
/* End Menu Icon */
/* ============================================================================================================================================================================================================
										START INTRO
============================================================================================================================================================================================================
*/
.app {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #000;
}
.page-wrapper {
	overflow: hidden;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s;
}
.banner {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	overflow: hidden;
	z-index: 100;
}
.banner::after {
	content: "";
	width: 250%;
	height: 100%;
	background: linear-gradient(to right, transparent, #000, #000);
	position: absolute;
	top: 0;
	right: 0;
	animation: bannerAnim 5s linear forwards;
	-webkit-animation: bannerAnim 5s linear forwards;
}
@keyframes bannerAnim {
	0% {
		right: 0;
	}
	100% {
		right: -250%;
	}
}
.banner h1 {
	font-family: "Ubuntu", sans-serif;
	font-size: 7.5rem;
	color: #fff;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff;
	margin-bottom: 100px;
}
.banner button {
	width: 13rem;
	padding: 0.5rem 1rem;
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		150deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-family: "Dosis", sans-serif;
	font-size: 1.5rem;
	color: #fff;
	letter-spacing: 0.2rem;
	border-radius: 100px;
	border: none;
	outline: none;
	transform: perspective(500px) rotateY(-15deg);
	text-shadow: 6px 5px 2px rgba(0, 0, 0, 0.5);
	animation: buttonAnim 1s 2.5s backwards;
	transition: all 0.5s;
	overflow: hidden;
	/* cursor: none; */
}
@keyframes buttonAnim {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.banner button::before {
	content: "";
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, transparent, #fff, transparent);
	position: absolute;
	top: 0;
	left: -100%;
	transform: skewX(-30deg);
	transition: left 0.5s;
}
.banner button:hover {
	transform: perspective(500px) rotateY(15deg);
	text-shadow: -6px 5px 2px rgba(0, 0, 0, 0.5);
	background: linear-gradient(
		150deg,
		rgba(246, 79, 89, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(18, 194, 233, 1) 100%
	);
}
.banner button:hover::before {
	left: 100%;
}
.slider {
	background: #12c2e9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		45deg,
		#f64f59,
		#c471ed,
		#12c2e9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		150deg,
		rgba(18, 194, 233, 1) 0%,
		rgba(196, 113, 237, 1) 47%,
		rgba(246, 79, 89, 1) 100%
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 100%;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	transform: translateY(100%);
	z-index: 10;
}


@keyframes opacity {
	0% {
		background-color: #757575;
	}
	100% {
		background: #75757548;
	}
}
@keyframes opacityProj {
	0% {
		background: #757575;
	}
	100% {
		background: transparent;
	}
}
@keyframes zIndex {
	0% {
		z-index: 700;
	}
	50% {
		z-index: 50;
	}
	100% {
		z-index: 20;
	}
}
/* End of Mouse Circle */

/* ============================================================================================================================================================================================================
										END INTRO
============================================================================================================================================================================================================
*/

/* ============================================================================================================================================================================================================
										START ANIMATION
============================================================================================================================================================================================================
*/

.fadeIn {
	animation: fadeIn 1s;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.intro-text {
	width: 100%;
	text-align: center;
}
.intro-text span {
	font-size: 2.6rem;
	font-weight: 500;
	color: #2c2c2c;
	letter-spacing: 0.5rem;
	line-height: 1.5;
	text-shadow: 0 0 1rem #d3d3d3;
	position: relative;
}

@keyframes aboutMeTextAnim {
	0% {
		color: #aaa;
		top: 0;
	}
	10%,
	40% {
		color: #fff;
		top: 1.1rem;
	}
	70% {
		color: #aaa;
		top: 0;
	}
	90% {
		color: #fff;
		top: 1.1rem;
	}
	100% {
		color: #aaa;
		top: 0;
	}
}

/* ============================================================================================================================================================================================================
										END ANIMATION
============================================================================================================================================================================================================
*/

@layer components {
	.slanted-border-top:before {
		content: "";
		position: absolute;
		top: -5rem;
		left: 0;
		height: 100%;
		width: 100%;
		background: inherit;
		z-index: -1;
		transform: skewY(2deg);
		transform-origin: bottom left;
	}
	.slanted-border-bottom:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background: inherit;
		z-index: -1;
		transform: skewY(2deg);
		transform-origin: top left;
	}
}
